@font-face {
    font-family: "Poppins";
    src: url("/Poppins-Regular.ttf");
}

*{
    font-family: Poppins;
    font-size: 20px;
}



img {
    display: flex;
    gap: 10px
}

h1 {
    font-size:  2.027rem;  
}
    
h2 {
    font-size:  1.802rem;     
    text-align: center;
}

h3 {
    font-size:  1.266rem;     
    text-align: center;
}
   
.container {
    max-width: 1200px;
}

.flex-container {
    display: flex;
}

.flex-image-container {
    flex: 1;
    text-align: center;
    float: left;
}
.flex-image {
    width: 500px;
    margin: 10px;
    border-radius: 15px;
    
}

    .grid-container {
    display: grid;
    grid-template-areas:
    "grid-image grid-image"
    "grid-image grid-image";
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: auto;
    justify-content: center;
    }

.grid-image {
 grid-area: "grid-image";   
 width: 300px;
 border-radius: 15px;
}

.Top-Section {
    display: flex;
    gap: 10px;
}

.wrapper {
    margin: auto;
    width: 50%;
}



